.body {
    max-width: 1000px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
    padding: 30px;
    background-color: white;
}

html {
    background-color: rgb(243, 243, 243);
}

body {
    background-color: rgb(243, 243, 243);
}

h6 {
    text-align: center;
}

.input-field {
    display: block;
    width: 100%;
    border-width: 0 0 2px 0;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 40pt;
    }

    .input-field {
        height: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 15pt;
    }
    .input-field {
        height: 36px;
    }
}